anyascii
beautifulsoup
blis
bs
catalogue
certifi
charset-normalizer
click
colorama
confection
contractions
cymem
Flask
gunicorn
idna
itsdangerous
Jinja
joblib
langcodes
MarkupSafe
murmurhash
numpy
packaging
pandas
pathy
preshed
pyahocorasick
pydantic
python-dateutil
pytz
regex
requests
sentence-transformers> 
six
smart-open
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
textsearch
thinc
tqdm
typer
typing_extensions
urllib
wasabi
Werkzeug
